.contact-subtitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.55em;
    letter-spacing: 2px;
    color: var(--primary-gold);
    font-family: monospace;
}
.contact-Maintitle{
    margin-top: 20px;
    font-size: 68px;
    line-height: 1.1em;
    font-weight: 300;
    color: #222;
}
.contact-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}
.contact-btns .contact-book{
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #222;
    background-color: #ffd277;
}
.contact-phone svg{
    fill: #222;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.contact-phone{
    font-weight: 400;
    letter-spacing: 1px;
    color: #222;
    font-size: 18px;
}
.contact-form{
    margin-top: 60px;
}