.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fef4d1; /* أو أي لون خلفية تريد */
}

.preloader-video {
  width: 100%; 
  height: 100%;
  object-fit: cover;

}


